

.partners-section {
    padding: 40px 0 20px 0;
    background-color: #fff;
}

.container {
    width: 100vw;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



.branch {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

.branch .partners-title {
    font-size: 18px;
    line-height: 78px;
    display: inline-block;
    margin-right: 15px;
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;

}

@media (max-width:560px) {
    .branch .partners-title {
        margin-left: 30px;
    }
}

.partners {
    opacity: 0.4;
    margin: 10px 15px;
    max-height: 55px;
    transition: all 0.25s ease-in-out;
}

.partners:hover {
    opacity: 0.8;
}

img {
    vertical-align: middle;
    border-style: none;
}

@media (max-width: 768px) {
    .partners-title {
        font-size: 18px;
        line-height: 30px;
        float: none !important;
        margin-right: 30px;
    }
}