.home-section {
    position: relative;
    z-index: 99;
    padding-top: 140px;
    padding-bottom: 110px;
    background: url(../img/bg0.jpg) top center no-repeat;
    background-size: cover;
}

#register-form input.register-input:focus,
#register-form select.register-input:focus {
    border-color: #656565 !important;
    color: #454545 !important;
    outline: none;
}

#contact-form input.contact-input:focus,
#contact-form textarea:focus {
    border-color: #fff !important;
    color: #fff !important;
    outline: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.home-section-overlay {
    width: 100%;
    background: #000;
    opacity: 0.39;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.padding-top-120 {
    padding-top: 120px !important;
}

.home-section h1 {
    /* margin-top: 50px; */
    margin-bottom: 20px;
    line-height: 1.2;
    color: #fff;
    text-shadow: 1px 1px #373737;
}

h1 {
    font-size: 45px;
}

.home-section p.hero-text {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px #373737;
}

.popup-gallery-wrapper {
    position: relative;
    margin-top: 45px;
    display: flex;
}

.popup-gallery {
    display: inline-block;
    position: relative;
    height: 60px !important;
}

.video-icon {
    float: left;
    width: 60px;
    height: 60px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50% 50%;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    /* position: absolute;
    bottom: 15px; */
}

.video-icon:before {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100%;
    left: 50%;
    margin-left: -30px;
    bottom: 10%;
    margin-bottom: -6px;
    -webkit-animation: doublePulsation 1.9s ease infinite;
    animation: doublePulsation 1.9s ease infinite;
    z-index: 0;
}

.video-icon i {
    font-size: 26px;
    line-height: 56px;
    color: #e52a3d;
    margin-left: 18px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-icon:hover {
    background: transparent;
}

.video-icon:hover i {
    color: #fff;
}

.fa-play:before {
    content: "\f04b";
}

.popup-video-text {
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 0px;
    color: #fff;
    text-decoration: underline;
    text-shadow: 1px 1px #656565;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.register-form-wrapper {
    margin-top: 25px;
    padding: 40px 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px 5px;
    opacity: 0;
    transform: translateX(-400px);
    transition: 2s all ease;
    */
}

.form-active {

    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: bounceIn;
    animation-fill-mode: forwards;
}

.register-form-wrapper h3 {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}

.register-form-wrapper {
    margin-top: 25px;
    padding: 40px 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px 5px;
}

.register-form-wrapper p {
    margin-bottom: 25px;
    font-size: 17px;
}

p.register_success_box {
    display: inline-block;
    color: #27b36a;
    border: 1px solid #27b36a;
    padding: 25px 25px;
    font-size: 19px;
    text-shadow: none;
    font-style: italic;
    border-radius: 8px 8px;
    margin: 15px 0;
}

input.name-input {
    background: url(../img/input-user.png) no-repeat 12px 15px;
}

input.register-input,
select.register-input {
    width: 100% !important;
    height: 52px !important;
    padding-left: 11% !important;
    padding-right: 5% !important;
    margin-bottom: 15px !important;
    color: #555 !important;
    border: 1px solid #f1f1f1 !important;
    background-color: #f9f9f9 !important;
    font-size: 16px !important;
    border-radius: 5px 5px 5px 5px !important;
}

input.name-email {
    background: url(../img/input-envelope.png) no-repeat 12px 15px;
}

select.register-input {
    background: url(../img/input-select.png) no-repeat 12px 15px;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}

div.register-submit1 {
    text-align: center;
    background: #e52f37;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 535px;
    padding: 16px 0;
    text-transform: uppercase;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

div.register-submit1:hover {
    background: #27b36a;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

.register-form-wrapper p {
    margin-bottom: 25px;
    font-size: 17px;
}

p.register-form-terms {
    margin: 10px 0 5px 0;
    font-size: 14px;
    color: #7c8595;
    text-shadow: none;
}

@keyframes doublePulsation {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        opacity: 0.0;
    }

    50% {
        opacity: 0.55;
    }

    100% {
        -webkit-transform: scale(1.3, 1.3);
        opacity: 0.0;
    }
}